@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@font-face {
    font-family: 'Aleo';
    src: url(fonts/Aleo-Font/Desktop/Aleo-Regular.otf);
}
* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.header {
    height: 80vh;
    background: url("img/bg-header.png") no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__tittle {
        font-size: 48px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        letter-spacing: 4.8px;
    }
    &__sub {
        margin-top: 0;
        font-size: 22px;
        color: white;
        letter-spacing: 6.82px;
    }
    &__input-button {
        margin-top: 80px;
        width: 400px;
        &__input {
            font-size: 17px;
            float: left;
            width: 70%;
            height: 40px;
            background: #f1f1f1;
            text-align: center;
            border: none;
        }
        &__button {
        float: left;
        width: 30%;
        height: 40px;
        background: #2196F3;
        border: none;
        color: white;
        font-size: 17px;
        cursor: pointer;
        & .fa-search {
            margin-left: 7px;
        }
        }
    }
    &__drop {
        margin-top: 100px;
        color: white;
        text-decoration: none;
        position: relative;
    }
}

.navigation {
    margin: 0 auto;
    height: 70px;
    background-color: #5474fd;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    &__logo {
        font-size: 24px;
        letter-spacing: 2.4px;
        font-weight: bold;
    }
    &__list {
        list-style-type: none;
        &__items {
            display: inline-block;
            font-size: 12px;
            margin-left: 10px;
            font-family: 'Aleo';
            font-weight: normal;
        }
    }
}
.btn {
    border: none;
        background-color: #5474fd;
        width: 150px;
        height: 40px;
        color: white;
}
.wy-choose {
    height: 70vh;
    background: url("img/bg-why__choose.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    &__text__tittle {
        margin-top: 10rem;
        font-size: 36px;
        font-family: 'Aleo';
        font-weight: normal;
    }
    &__text__paragraph {
        letter-spacing: 1.6px;
        font-size: 12px;
    }
    &__img {
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__first {
            width: 80%;
        }
        &__second {
            margin-top: 3px;
            width: 80%;
            align-self: center;
        }
    }
}
.how-works {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
            width: 50px;
        }
        &__text {
            color: white;
            margin-top: 10px;
            font-size: 25px;
            font-family: 'Aleo';
            font-weight: normal;
        }
    }
}
.grand-first {
    height: 50vh;
    background: url(img/bg-first__grand.png);
    display: flex;
    align-items: center;
    &__text {
        margin: 100px;
        width: 40%;
        height: 70%;
        background-color: #232323;
        opacity: 0.9;
        padding: 10px;
        color: white;
        &__tittle {
            font-size: 22px;
            font-weight: normal;
        }
        &__paragraph {
            font-size: 12px;
        }
    }
}
.grand-second {
    height: 50vh;
    background: url(img/bg-second__grand.png);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__text {
        margin: 100px;
        width: 40%;
        height: 70%;
        background-color: #232323;
        opacity: 0.9;
        padding: 10px;
        color: white;
        &__tittle {
            font-size: 22px;
            font-weight: normal;
        }
        &__paragraph {
            font-size: 12px;
        }
    }
}
.what-our {
    background: url("img/bg-what__our.png") no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    &__tittle {
        font-size: 40px;
        font-family: 'Aleo';
        font-weight: normal;
    }
    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__img {
            width: 30%;
            height: 100%;
        }
        &__text {
            background-color: #333333;
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            text-align: left;
            &__span {
                text-transform: uppercase;
                font-size: 20px;
            }
            &__paragraph {
                margin-top: 10px;
            }
        }
    }
}
.footer {
    background-color: #232323;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    &__logo {
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 3.36px;
    }
    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    & a {
        margin-left: 20px;
    }
}
.fab {
    color: #fff;
    &:hover {
        color: #5474fd;;
    }
}